# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode/*
!/.vscode/extensions.json
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/ios/DerivedData
_android/.gitignore
_android/build.gradle
_android/capacitor.settings.gradle
_android/gradle.properties
_android/gradlew
_android/gradlew.bat
_android/settings.gradle
_android/variables.gradle
_android/.idea/.gitignore
_android/.idea/compiler.xml
_android/.idea/deploymentTargetDropDown.xml
_android/.idea/jarRepositories.xml
_android/.idea/misc.xml
_android/app/.gitignore
_android/app/build.gradle
_android/app/capacitor.build.gradle
_android/app/google-services.json
_android/app/proguard-rules.pro
_android/app/debug/output-metadata.json
_android/app/release/output-metadata.json
_android/app/src/google-services.json
_android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
_android/app/src/main/AndroidManifest.xml
_android/app/src/main/java/ar/com/modapago/www/MainActivity.java
_android/app/src/main/res/google-services.json
_android/app/src/main/res/drawable/ic_launcher_background.xml
_android/app/src/main/res/drawable/ic_stat_name.png
_android/app/src/main/res/drawable/launch_splash.xml
_android/app/src/main/res/drawable/splash.png
_android/app/src/main/res/drawable-hdpi/ic_stat_name.png
_android/app/src/main/res/drawable-hdpi/splash.jpg
_android/app/src/main/res/drawable-land-hdpi/splash.png
_android/app/src/main/res/drawable-land-mdpi/splash.png
_android/app/src/main/res/drawable-land-xhdpi/splash.png
_android/app/src/main/res/drawable-land-xxhdpi/splash.png
_android/app/src/main/res/drawable-land-xxxhdpi/splash.png
_android/app/src/main/res/drawable-mdpi/ic_stat_name.png
_android/app/src/main/res/drawable-mdpi/splash.jpg
_android/app/src/main/res/drawable-port-hdpi/splash.jpg
_android/app/src/main/res/drawable-port-mdpi/splash.jpg
_android/app/src/main/res/drawable-port-xhdpi/splash.jpg
_android/app/src/main/res/drawable-port-xxhdpi/splash.jpg
_android/app/src/main/res/drawable-port-xxxhdpi/splash.jpg
_android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
_android/app/src/main/res/drawable-xhdpi/ic_stat_name.png
_android/app/src/main/res/drawable-xxhdpi/ic_stat_name.png
_android/app/src/main/res/drawable-xxxhdpi/ic_stat_name.png
_android/app/src/main/res/layout/activity_main.xml
_android/app/src/main/res/mipmap/ic_launcher_foreground.png
_android/app/src/main/res/mipmap/ic_launcher_round.png
_android/app/src/main/res/mipmap/ic_launcher.png
_android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
_android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
_android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
_android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
_android/app/src/main/res/mipmap-hdpi/ic_launcher.png
_android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
_android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
_android/app/src/main/res/mipmap-mdpi/ic_launcher.png
_android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
_android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
_android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
_android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
_android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
_android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
_android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
_android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
_android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
_android/app/src/main/res/values/ic_launcher_background.xml
_android/app/src/main/res/values/strings.xml
_android/app/src/main/res/values/styles.xml
_android/app/src/main/res/xml/file_paths.xml
_android/app/src/main/res/xml/network_security_config.xml
_android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
_android/gradle/wrapper/gradle-wrapper.jar
_android/gradle/wrapper/gradle-wrapper.properties
